{% extends 'base.html' %}

{% block content %}
<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<div>
  <img src="{{ user.image_url }}">
</div>
<a href="/users/{{ user.id }}/edit">
Edit
</a>

<form method="POST" action="/users/{{ user.id }}/delete">
  <input type="submit" value="Delete This User">
</form>

<h3>All Posts</h3>
<ul>
  {% for post in user.posts %}
    <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>

  {% endfor %}
</ul>

<form action="/users/{{ user.id }}/posts/new">
  <input type="submit" value="Add a post">
</form>

{% endblock %}